
body{
    background-color: rgb(151, 255, 255);
}

/* //Mobile Css */

@media screen and (min-width: 250px ) and (max-width: 550px) {
    /* Styles to be applied for screen widths between 350px and 450px */
   .ourbox{
    width: 400px;
    margin-top: 80px;
    margin-left: -70px;
   }
   .emailBox{
    display: grid;
    margin-left: -200px;
   }
  .masthead{
  width: 500px;
  height: 500px;
  }
.drivebox{
 display: none;
}
.container{
    margin-right: -50px;
}
.relative{
    border-radius: 20px;
}
.tab__image{
    width: 330px;
    margin-left: -100px;
}
.hs_cos_wrapper1{
    width: 380px;
    margin-left: -120px;
}
.testbox{
    width: 400px;
    margin-left: 80px;
}
.ctabox{
width: 400px;
margin-left: 80px;
margin-right: -50px;
justify-content: center;

}
.proBox{
margin-left: 50px;
}



  }
  


  /* //iPadCss */

@media screen and (min-width: 551px) and (max-width: 930px) {
    /* Styles to be applied for screen widths between 350px and 450px */
   .ourbox{
    width: 500px;
    margin-top: 10px;
    margin-left: 90px;
   }
   .emailBox{
    display: grid;
    margin-left: -200px;
   }
  .img1{
    display: none;
  }
  .masthead{
    width: 950px;
    
    }
   
    .container>div{
        margin-right: -20px;
       
    }
    .testbox{
        margin-left: 120px;
        margin-right: -50px;
    }
    .proBox{
        margin-left: 100px;
        margin-right: -50px;
    }







  }