
/* body{
    background-color: rgb(151, 255, 255);
} */

/* //Mobile Css */

@media screen and (min-width: 250px ) and (max-width: 550px) {
    /* Styles to be applied for screen widths between 350px and 450px */
   .ourbox{
    width: 400px;
    margin-top: 80px;
    margin-left: -70px;
   }
   .emailBox{
    display: grid;
    margin-left: -200px;
   }
  .masthead{
  width: 500px;
  height: 500px;
  }
.drivebox{
 display: none;
}
.container1{
    margin-right: -120px;
    margin-left: 50px;
    width: 400px;
}
.container{
    margin-right: -50px;
}
.relative{
    border-radius: 20px;
}
.tab__image{
    width: 330px;
    margin-left: -100px;
}
.hs_cos_wrapper1{
    width: 380px;
    margin-left: -150px;
}
.testbox{
    width: 400px;
    margin-left: 80px;
}
.ctabox{
width: 500px;
margin-left: 20px;
margin-right: -50px;


}
.proBox{
margin-left: 50px;
}
.page-center{
    margin-left: 20px;
    margin-right: -50px;
}
.title-header{
    margin-left: -80px;
}
.relative1{
    width: 450px;
    margin-left: 50px;
    margin-right: -100px;
    border: 15px;
    
}
.buildBox{
    margin-left: 120px;
}
.companyBox{
    margin-left: 5px;
    margin-top: 50px;
}
.branchBox{
    margin-top: -120px;
    margin-bottom: 50px;
    
}
.branchBox1{
    width: 300px;
}

  }
  


  /* //iPadCss */

@media screen and (min-width: 551px) and (max-width: 930px) {
    /* Styles to be applied for screen widths between 350px and 450px */
   .ourbox{
    width: 500px;
    margin-top: 10px;
    margin-left: 90px;
   }
   .emailBox{
    display: grid;
    margin-left: -200px;
   }
  .img1{
    display: none;
  }
  .masthead{
    width: 950px;
    
    }
   
    .container>div{
        margin-right: -20px;
       
    }
    .testbox{
        margin-left: 120px;
        margin-right: -50px;
    }
    .proBox{
        margin-left: 100px;
        margin-right: -50px;
    }
    .ctabox{
        width: 850px;
        margin-left: 50px;
    }
    .relative1{
margin-left: 70px;
width: 820px;
border-radius: 15px;
    }
    .buildBox{
        margin-left: 120px;
    }







  }